---
---

@font-face {
  font-family: Jost;
  src: url("../webfonts/jost-500-medium-webfont.woff2") format("woff2"),
       url("../webfonts/jost-500-medium-webfont.woff") format("woff");
}

@font-face {
  font-family: "Charter";
  src: url("../webfonts/charter_regular.woff2") format("woff2");
}

@font-face {
  font-family: "Charter";
  font-style: italic;
  src: url("../webfonts/charter_italic.woff2") format("woff2");
}

nav, article, header, time {
  display: block;
}

@view-transition {
  navigation: auto;
}

body {
  background: #fff;
  color: #333;
  font: 16px/1.5 "Charter", serif;
  margin: 1.5em auto 4.5em;
  max-width: 600px;
  padding: 0 1em;
  word-break: break-word;
}

h1, h3, header {
  font-family: Jost, Futura, 'Tw Cen MT', sans-serif;
  font-feature-settings: "ss01";
  font-weight: normal;
}

a {
  color: #cc005f;
  text-decoration-color: #ffcce4;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  transition: background-color .1s linear;
}

// a:hover {
//   text-decoration-color: #cc005f;
// }

a:active,
a:focus {
  background-color: #ffcce4;
}

ul, ol {
  margin-left: 0;
  padding-left: 1em;
}

ul {
  list-style-type: 'â— ';

  > li::marker {
    color: #ffcce4;
  }
}

li {
  padding-left: .25em;
}

blockquote {
  margin: 0;
  padding-left: .75em;
  border-left: 1px solid #ffcce4;
  text-align: left;
}

hr {
  height: 1px;
  border: 0;
  background: #ffcce4;
  width: 150px;
  margin: 24px auto;
}

.hr hr {
  display: none;
}

.hr {
  width: 150px;
  margin: 24px 0;
  height: 1px;
  background: #ffcce4;
}

sup, sub {
  vertical-align: 0ex;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.8ex;
}

h1 {
  font-size: 30px;
  line-height: 36px;
  margin: 2.4em 0 0;
  text-wrap: balance;

  a {
    text-decoration: none;
  }
}

h3 {
  font-size: 20px;
  line-height: 1.2;
  margin: 1.2em 0 0.8em;
}

img, video {
  // width: auto; // for IE8
  max-width: 100%;
  height: auto;
  border: 0;
}

article iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid #ffcce4;
}

th {
  text-align: left;
}

th, td {
  padding: .2em .5em .2em 0;
}

tr td:last-child {
  padding-right: 0;
}

article {
  margin: 4.5em 0;
}

.adjacent {
  overflow: hidden;

  p {
    margin: 0;
    width: 50%;
    float: left;
  }

  .newer {
    text-align: right;
  }

  .newer:first-child,
  .older:last-child {
    width: 100%;
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
  // text-align: right;
}

img.alignright {
  margin: 0 0 12px 30px;
}

.wp-caption.alignright {
  margin-left: 20px;
}

img.alignleft {
  margin: 0 30px 12px 0;
}

.wp-caption.alignleft {
  margin-right: 20px;
}

img.aligncenter {
  margin: 0 auto;
  display: block;
}

.wp-caption {
  max-width: 100%;
}

.caption,
.wp-caption-text {
  margin-top: 0;
  color: #ff55a4;
  text-align: center;
  font-style: italic;
}

em cite {
  font-style: normal;
}

code {
  font-family: Consolas, Monaco, monospace;
  font-size: .8em;
}

strong,
acronym,
abbr,
.caps {
  border: 0;
  font-weight: inherit;
  text-decoration: none;
  font-variant-caps: all-small-caps;
}

header nav {
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  margin-bottom: -12px;
  font-size: 16px;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5em 1.5em;
  }

  li {
    list-style: none;

    a {
      color: #ff55a4;
      text-decoration: none;
      display: inline-block;
    }

    // &.current a,
    a:hover {
      color: #cc005f;
    }
  }
}

.archive {
  h2 {
    font-size: 1em;
    margin: 1em 0 0 2em;
    color: #ff55a4;
    font-weight: normal;
  }

  ul {
    padding: 0;
    margin: 0 0 0 2em;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
  }

  time {
    color: #ff55a4;
    display: block;
    float: left;
    margin-left: -2em;
    width: 2em;
  }
}

.adjacent a,
.meta {
  color: #ff55a4;
}

p.message {
  padding: 4px 8px 3px;
  border: 1px solid #ffcce4;
}

a.action {
  padding: 3px 8px 2px;
  border-bottom-color: #cc005f;
  background: #ff55a4;
  color: #fff;
  text-shadow: 0 -1px #cc005f;
  display: inline-block;

  &:focus,
  &:active {
    background: #cc005f;
  }
}

@media only screen and (max-width : 670px) {
  blockquote {
    margin: 0;
  }
}

@media only screen and (max-width : 480px) {
  header ul li:first-child {
    display: block;
  }

  article iframe {
    height: auto;
  }

  h2, h3 {
    font-size: 18px;
    line-height: 18px;
  }

  h1 a {
    display: block;
  }

  img.alignright {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
}

textarea {
  padding: 0;
  font: inherit;
  border: 0;
  cursor: pointer;
  display: block;
  width: 100%;
  height: 24px;
  resize: none;
  border-radius: 0;
}

textarea::placeholder {
  color: #ff55a4;
}
textarea:hover::placeholder {
  color: #cc005f;
}

form:focus-within textarea,
.focused textarea {
  color: #333;
  padding: .25em .5em;
  height: 120px;
  cursor: initial;
  outline: 0;
  box-sizing: border-box;
  border: 1px solid #ff55a4;
  resize: vertical;
}

textarea:focus::placeholder {
  color: transparent;
}

textarea + input {
  display: none;
  background: #ff55a4;
  font: inherit;
  color: #fff;
  border: 1px solid #ff55a4;
  padding: .25em .5em;
  margin: .25em 0 0;
  cursor: pointer;
  border-radius: 0;
}

.status {
  display: none;
  margin-left: .25em;
}

form:focus-within input,
.focused input,
form:focus-within .status {
  display: inline-block;
}

textarea:focus,
textarea + input:focus {
  border-color: #cc005f;
}

textarea + input:focus {
  background: #cc005f;
}
