---
---

@import 'utils';

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,400;0,800;1,400&display=swap');

nav, article, header, time {
  display: block;
}

$accent-color: #da3d46;
$lighter-accent-color: #da3d46;
$border-color: #ccc;

body {
  background: #fff;
  color: #222;
  font: 18px/1.5 "Libre Franklin", sans-serif;
  margin: 24px auto 72px;
  max-width: 35em;
  overflow-wrap: hyphenate;
  overflow-y: scroll;
  padding: 0 1em;
  word-wrap: break-word;
}

h1, h3, header {
  font-weight: bold;
}

a {
  color: $accent-color;
  text-decoration: none;
  border-bottom: 1px solid $border-color;
}

a:hover {
  border-bottom-color: $accent-color;
}

a:active,
a:focus {
  background-color: $border-color;
}

blockquote {
  margin: 0 0 0 14px;
  padding: 0 0 0 15px;
  border-left: 1px solid $border-color;
  text-align: left;
}

li {
  padding-left: .5em;
}

ul {
  margin-left: 0;
  padding-left: 1em;
  list-style-type: '● ';

  li::marker {
    color: #999;
  }
}

hr {
  height: 1px;
  border: 0;
  background: $border-color;
  width: 150px;
  margin: 24px auto;
}

.hr hr {
  display: none;
}

.hr {
  width: 150px;
  margin: 24px 0;
  height: 1px;
  background: $border-color;
}

sup, sub {
  vertical-align: 0ex;
  position: relative;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.8ex;
}

h1 {
  font-size: 3em;
  line-height: 1.2;
  margin: 72px 0 16px 0;

  a {
    border: 0;
  }
}

h3 {
  font-size: 20px;
  line-height: 24px;
  margin: 24px 0 16px;
}

img, video {
  width: auto; // for IE8
  max-width: 100%;
  height: auto;
  border: 0;
}

article iframe {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid $border-color;
}

th {
  text-align: left;
}

th, td {
  padding: 3px 15px 3px 0;
}

tr td:last-child {
  padding-right: 0;
}

article {
  margin-bottom: 72px;
}

.ad {
  margin: 72px auto;
  text-align: center;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
  }

  ul:before {
    content: "Advert: ";
  }
}

.adjacent {
  overflow: hidden;

  p {
    margin: 0;
    width: 50%;
    float: left;
  }

  .newer {
    text-align: right;
  }

  .newer:first-child,
  .older:last-child {
    width: 100%;
  }

  a {
    border: 0;
    font-weight: bold;
  }
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
  // text-align: right;
}

img.alignright {
  margin: 0 0 12px 30px;
}

.wp-caption.alignright {
  margin-left: 20px;
}

img.alignleft {
  margin: 0 30px 12px 0;
}

.wp-caption.alignleft {
  margin-right: 20px;
}

img.aligncenter {
  margin: 0 auto;
  display: block;
}

.wp-caption {
  max-width: 100%;
}

.caption,
.wp-caption-text {
  margin-top: 0;
  color: $lighter-accent-color;
  text-align: center;
  font-style: italic;
}

em cite {
  font-style: normal;
}

a.image {
  border: 0;
}

code {
  font-family: Consolas, Monaco, monospace;
  font-size: .8em;
}

strong,
acronym,
abbr,
.caps {
  border: 0;
  font-size: .8em;
  font-weight: inherit;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

header nav {
  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 1.5em;

    a {
      color: $lighter-accent-color;
      border: 0;
      display: inline-block;
    }

    // // &.current a,
    // a:hover {
    //   color: $accent-color;
    // }

    // a:focus, a:active {
    //   color: #fff;
    // }
  }

  li:last-child {
    margin: 0;
  }
}

.archive {
  h2 {
    font-size: 1em;
    margin: 1em 0 0 2em;
    color: #999;
    font-weight: normal;
  }

  ul {
    padding: 0;
    margin: 0 0 0 2em;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    clear: both;
  }

  time {
    color: #999;
    display: block;
    float: left;
    margin-left: -2em;
    width: 2em;
  }

  a {
    border: 0;
    font-weight: bold;
  }
}

.meta {
  color: #999;
  font-weight: bold;
}

p.message {
  padding: 4px 8px 3px;
  border: 1px solid $border-color;
}

a.action {
  padding: 3px 8px 2px;
  border-bottom-color: $accent-color;
  background: $lighter-accent-color;
  color: #fff;
  text-shadow: 0 -1px $accent-color;
  display: inline-block;

  &:focus,
  &:active {
    background: $accent-color;
  }
}

@media only screen and (max-width : 670px) {
  blockquote {
    margin: 0;
  }
}

@media only screen and (max-width : 480px) {
  header ul li:first-child {
    display: block;
  }

  header nav {
    a {
      padding: 3px 0;
    }

    li {
      margin-right: 1em;
    }
  }

  article iframe {
    height: auto;
  }

  h2, h3 {
    font-size: 18px;
    line-height: 18px;
  }

  h1 a {
    display: block;
  }

  /*
  .details p {
    width: 100%;
    margin-bottom: 1em;
  }
  */

  img.alignright {
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
}
