---
layout: page
title: Archive
---

<p>Here is a list of all the articles on this website. A lot are weak and embarrassing &#8211; some of the oldest, weakest and most embarrassing have gone missing (and the warmly valued reader comments).</p>

{% for post in site.posts %}
  {% assign currentmonth = post.date | date: "%B %Y" %}
  {% if currentmonth != month %}
    {% unless forloop.first %}
    	</ul>
    {% endunless %}
    <h2>{{ currentmonth }}</h2>
    <ul>
    {% assign month = currentmonth %}
  {% endif %}
  <li>
    <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d" }}</time>
    <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
