<header>
  <nav>
    <ul>
      <li><a href="{{ site.url }}">{{ site.title }}</a></li>
      <li><a href="{{ site.url }}/feed">RSS feed</a></li>
      <li><a rel="me" href="https://mastodon.social/@jgoodwin" title="Mastodon">🐘</a></li>
      <li><a rel="me" href="https://www.last.fm/user/jclgoodwin" title="Last.fm">🎧</a></li>
      <li><a rel="me" href="https://www.instagram.com/jclgoodwin/" title="Instagram">📷</a></li>
      <li><a rel="me" href="https://github.com/jclgoodwin" title="GitHub">👨‍💻</a></li>
    </ul>
  </nav>
</header>
