<form
  method="POST"
  action="https://faas-lon1-917a94a7.doserverless.co/api/v1/web/fn-ed3a9d7f-2ef0-4d60-b3e1-cde7bd73e6e1/default/reply"
  onsubmit="const status=this.querySelector('div');status.innerText='Sending&hellip;';fetch(this.action, {method: 'POST', body: new URLSearchParams('message=' + this.message.value)}).then((response)=>{if(response.ok){this.message.value='';this.className='';status.innerText='Sent'}else{status.innerText='Sorry, that looks like spam (no URLs allowed, sorry)';debugger}});return false"
>
  <textarea name="message" placeholder="Reply" required onfocus="this.form.className='focused';this.form.querySelector('div').innerText=''" onblur="if(!this.value){this.form.className='';this.form.querySelector('div').innerText=''}"></textarea>
  <input type="submit" value="Send message">
  <div class="status"></div>
</form>
