@mixin font-face($name, $src) {
  @font-face {
    font-family: $name;
    src: url($src + '.eot');
    src: url($src + '.eot?#iefix') format('embedded-opentype'),
         url($src + '.woff') format('woff'),
         url($src + '.ttf') format('truetype');
  }
}
