---
layout: default
---

<article itemscope itemtype="https://schema.org/BlogPosting" data-pagefind-body>
  <h1 itemprop="name">{{ page.title }}</h1>
  <p class="meta"><time datetime="{{ page.date | date_to_xmlschema }}" pubdate itemprop="datePublished">{{ page.date | date: "%A %-d %B %Y" }}</time></p>
  <div itemprop="articleBody">
    {{ content }}
  </div>
</article>

<nav class="adjacent">
{% if page.previous %}
  <p class="older"><a href="{{ page.previous.url }}">&#8592; {{ page.previous.title }}</a></p>
{% endif %}
{% if page.next %}
  <p class="newer"><a href="{{ page.next.url }}">{{ page.next.title }} &#8594;</a></p>
{% endif %}
</nav>
